.title {
  margin-bottom: 100px;
  color: blue;
}

button {
  font-weight: 900;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 30px;
  transition-duration: 300ms;
  border-radius: 50px;
  border-style: hidden;
  padding: 5px 10px;
}
button:nth-child(1) {
  background-color: rgb(58 204 58);
}
button:nth-child(2) {
  background-color: yellow;
}
button:nth-child(3) {
  background-color: red;
}

button:hover {
  transform: scale(1.3);
}