.positive {
  font-weight: 900;
  font-size: 20px;
  color: rgb(102, 220, 102);
}
.positive > span {
  font-size: 25px;
  font-weight: 700;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section {
  text-align: center;
  background-color: rgb(15 238 204);
}